body {
    font-family: "Microsoft YaHei";
    font-size: 15px;
}

/*用户管理模块的文本框字体*/
.note {
    font-family: "Microsoft JhengHei";
    font-size: 15px;
    padding-left: 6px;
}

/*标题字体*/
.font {
    font-family: "Microsoft JhengHei";
    font-size: 36px;
    padding-left: 12px;
    color: white;
}

/*注册界面最下方快捷通道*/
.link {
    color: white;
    font-size: 16px;
    font-family: Consolas;
}

/*去掉超链下划线*/
a {
    text-decoration: none;
}

/*中间的分割线*/
.split {
    display: inline-block;
    height: 14px;
    margin: 0 10px;
    border-left: 1px transparent solid;
}

/*警告的字体*/
.Error,
.Error1,
.Error2,
.Error3,
.Error4,
.Error5,
.Error6,
.ReError,
.check {
    color: red;
    font-family: "Microsoft JhengHei";
    font-size: 12px;
}

/*表格的字体*/
.tabfont {
    font-family: "Microsoft JhengHei";
    font-size: 25px;
    color: white;
    font-weight: 600;
}

/*下载标题的字体*/
.down {
    font-family: "Microsoft YaHei";
    font-size: 24px;
    font-weight: 600;
}

.downlink {
    font-family: Consolas;
    font-size: 18px;
}

/*主页的新闻超链接字体*/
.hl {
	font-family: inherit;
    font-size: 18px;
    line-height: 20px;
}
