.footer-address {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #337ab7;
}

.footer-address-all {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: block;
}

.footer-address-left {
    width: 800px;
    height: 80px;
    display: block;
    float: left;
}

.footer-address-right {
    width: 300px;
    height: 80px;
    display: block;
    float: right;
}

.footer-address-all .mm {
    color: #fff;
    margin-top: 10px;
}