* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#email {
    font-family: "Microsoft JhengHei";
    font-size: 16px;
}

input {
    height: 40px;
    width: 300px;
    border: 5px;
    text-indent: 6px;
    background-color: #f8efc0;
    border-color: #3FA3C1;
    border-radius: 3px;
    box-shadow: 5px 5px 5px  rgba(0,0,0,0.1) inset;
}

#mainContent {
    height: 500px;
    width: 500px;
    padding-top: 5%;
    border-color: #3FA3C1;
    background: rgba(0,0,0,0.1)!important;
    background: #8c8c8c;
    filter: Alpha(opacity=10);
    margin-left: 30%;
    margin-top: 6%;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1) ;
}
.div1 {
    margin-top: 8%;
    margin-bottom: 5%;
    height: 15%;
    width: 60%;
}

/*LOGO旁边的字体*/
.font {
    font-family: "Microsoft JhengHei";
    font-size: 36px;
    padding-left: 12px;
    color: white;
}

.div2 {
    height: 50%;
    width: 40%;
    position: relative;
}

/*每一行的样式*/
.line {
    height: 65px;
    width: 600px;
    font-size: 16px;
}

/*每一个文本框的样式*/
.textfield {
    height: 40px;
    width: 300px;
    border: 5px;
    background-color: #f8efc0;
    border-color: #3FA3C1;
    border-radius: 3px;
    box-shadow: 5px 5px 5px  rgba(0,0,0,0.1) inset;
}

.form-control {
    padding: 1px 5px;
    font-size: 36px;
    line-height: 1.5;
}

.button {
    line-height: 60%;
    height: 60%;
    width: 100%;
    color: #ffffff;
    background-color: #4f82d6;
    margin-top: 30px;
    font-size: 25px;
    font-weight: normal;
    font-family: Microsoft YaHei;
    border: 0px solid #dcdcdc;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.button:hover {
    background-color: #4a8cf7;
}

.div3 {
    margin-top: 50px;
}
.link {
    color: white;
    outline: 0 none;
}
.split {
    display: inline-block;
    height: 14px;
    margin: 0 10px;
    border-left: 1px transparent solid;
}

.Error,
.ReError,
.Error1,
.check {
    color: red;
    font-family: "Microsoft JhengHei";
    font-size: 1%;
}



