body,
html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #222;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    display: block;
}

a:link,
a:visited {
    color: #384780;
}

a:hover {
    color: #01a157;
    text-decoration: none;
}

a:active {
    color: #000;
}

div {
    display: block;
}

.home-template {
    width: 100%;
    height: 1860px;
    margin-left: auto;
    margin-right: auto;
}

.main-header-user {
    width: 1370px;
    height: 32px;
    margin: 0  auto;
    display: block;
}

.main-header-usercenter {
    width: 200px;
    height: 32px;
    display: block;
    float: right;
    position: relative;

}

.main-header-userextra {
    width: 200px;
    height: 32px;
    display: block;
    float: left;
    position: relative;
}

.main-header-userextra :hover {
    background: #fff;
}

.main-header-userextra-save {
    width: 152px;
    height: 32px;
    font-size: 12px;
    display: block;
    float: left;
    border-right: 1px solid #eee;
}

.main-header-userextra-save a {
    width: 110px;
    height: 32px;
    display: inline-block;
    padding-left: 50px;
    padding-top: 10px;
}

.main-header-usercenter :hover {
    background: #fff;
}

.main-header-usercenter-log {
    width: 152px;
    height: 32px;
    font-size: 12px;
    display: block;
    float: right;
    padding: 0 20px;
    border-right: 1px solid #eee;
}

.main-header-usercenter-log span {
    width: 48px;
    height: 12px;
}

.main-header-usercenter-log a {
    width: 24px;
    height: 12px;
    text-decoration: none;
    line-height: 32px;
    outline: 0;
}

.main-header-usercenter-log i {
    width: 6px;
    height: 12px;
}

.main-header .container {
    width: 100%;
    height: 100px;
}

.main-navigation {
    width: 100%;
    height: 46px;
    text-align: center;
    background-color: #337ab7;
}

.main-navigation .menu {
    width: 1000px;
    height: 46px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-navigation .menu li {
    width: 160px;
    height: 46px;
    list-style: none;
    display: inline-block;
    position: relative;
}

.main-navigation .menu li :hover {
    background-color: #0E419C;
}

.main-navigation .menu-name {
    display: inline-block;
    position: relative;
    height: 100%;
    padding-top: 12%;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-family: "Microsoft JhengHei";
    width: 100%;
    text-align: center;
}

.selected {

    border-bottom: solid 2px transparent;
    border-bottom-color: #EFD700 ;
}

.main-navigation a:hover {
    text-decoration: none;
}

.main-center {
    width: 1370px;
    height: 1414px;
    margin-left: auto;
    margin-right: auto;

}

.main-center-slide {
    width: 1370px;
    height: 514px;
}

#carousel-example-captions {
    width: 1027.5px;
    height: 514px;
    overflow: hidden;
    float: left;
}

#carousel-example-captions .carousel-inner .item {
    width: 1027.5px;
    height: 514px;
    cursor: pointer;
}

#carousel-example-captions .carousel-inner h4 {
    padding-bottom: 2px;
}

.main-center-slide nav {
    width: 342.5px;
    height: 514px;
    float: left;
}

.main-center-slide-nav .slide {
    width: 342.5px;
    height: 514px;
    float: left;
    overflow: hidden;
    background-color: #0E419C;
}

.main-center-slide-nav .slide li {
    margin-left: -40px;
    width: 342.5px;
    height: 74px;
    display: block;
    position: relative;
    list-style-type: none;
    background-color: #0E419C;
}

.main-center-slide-nav .slide li:hover {
    background-color: #337ab7;
}

.main-center-slide-nav .slide  .kk {
    width: 200px;
    height: 50px;
    color: #fff;
    font-family: "Microsoft YaHei";
    letter-spacing: 2px;
    display: block;
    position: relative;
    text-align: center;
    font-size: 16px;
    padding-left: 30px;
    padding-top: 32px;
}

.main-center-slide-nav .slide  .jj{
    padding-left: 90px;
}

.main-center-slide-nav .slide .icon {
    font-size:18px;
    color: #fff;
    display:block;
    float:right;
    margin: -20px 60px;
}

.main-center-mainWrap {
    width: 1100px;
    height: 900px;
    margin: 10px auto;
    display: block;
}

.main-center-mainWrap .news {
    width: 1100px;
    height: 244px;
    display: block;
    position: relative;
}

.main-center-mainWrap .news h4 {
    width: 1100px;
    line-height: 60px;
    color: #22132d;
    display: block;
}

.main-center-mainWrap .news  .more {
    width: 78px;
    height: 60px;
    font-size: 12px;
    display: block;
    float:right;
}

.main-center-mainWrap .news .newslist {
    width: 1100px;
    height: 174px;
    display: block;
    position: relative;
    margin:0 auto;
    border-bottom: 1px solid #e9e8ea;
}

.main-center-mainWrap .news .newslist li {
    width: 330px;
    height: 140px;
    display: block;
    float: left;
    list-style: none;
    margin: 7px 10px;
}

.ydate {
    width: 70px;
    height: 71px;
    display: block;
    float: left;
    border: 1px solid #edeaf1;
    color: #0E419C;
    background: #f7f7f7;
}

.ydate span {
    display: block;
    font-size: 24px;
    line-height: 24px;
    padding: 11px 7px 12px 0;
    zoom: 1;
}

.theme {
    width: 220px;
    height: 140px;
    display: block;
    float: left;
    margin: -11px 0 0 20px;
}

.main-center-mainWrap p {
    line-height: 20px;
    font-size: 12px；
}

.main-center-mainWrap .focus {
    width: 1100px;
    height: 600px;
}

#gg {
    width: 1100px;
    height: 50px;
}

.main-center-mainWrap .focus-list {
    width: 1100px;
    height: 600px;
    margin: 0 auto;
}

.main-center-mainWrap .focus-list li {
    width: 330px;
    height: 282px;
    display: block;
    position: relative;
    float: left;
    margin: 1px  20px  4px 0px;
}

.main-center-mainWrap .focus-list li h5 {
    width: 330px;
    height: 25px;
    display: block;
    margin:  25px 8px;
}

.main-center-mainWrap .focus-list .theme {
    width: 310px;
    height: 140px;
    display: block;
}

.main-center-mainWrap .focus-list .theme p {
    margin: -18px 0px;
}

.footer {
    width: 100%;
    height: 266px;
    display: block;
    background-color: #0E419C;
}

.footer-list {
    width: 100%;
    height: 186px;
    display: block;
    background-color: #f5f5f5;
}

.footer-connection {
    width: 90%;
    height: 186px;
    display: block;
    margin: 0 auto;

}

.footer-connection-all {
    width: 550px;
    height: 186px;
    display: block;
    float: left;
}

#left-top {
    width: 550px;
    height: 50px;
    display: block;
    border-bottom: 1px solid #f5f5f5;
}

#left-bottom {
    width: 550px;
    height: 136px;
    display: block;
}

.left-bottom-ul {
    width: 550px;
    height: 136px;
    list-style: none;
}

#left-bottom li {
    width: 150px;
    height: 50px;
    font-size: 12px;
    display: inline-block;
    float: left;
}

#left-bottom li a {
    color: #5E5E79;
}

.footer-connection-photo {
    width: 120px;
    height: 120px;
    display: block;
    float: left;
    border-radius: 5px;
    background-color: #00b156;
    margin: 35px 5px;
}

.footer-address {
    width: 100%;
    height: 80px;
    display: block;
}

.footer-address-all {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: block;
}

.footer-address-left {
    width: 800px;
    height: 80px;
    display: block;
    float: left;
}

.footer-address-right {
    width: 300px;
    height: 80px;
    display: block;
    float: right;
}

.footer-address-all,
.mm {
    color: #fff;
    margin-top: 10px;
}