* {
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

.input,
.select,
.subject {
    height: 40px;
    width: 300px;
    border: 5px;
    background-color: #f8efc0;
    border-color: #3FA3C1;
    border-radius: 3px;
    box-shadow: 5px 5px 5px  rgba(0,0,0,0.1) inset;
}

.select2 {
    height: 40px;
    width: 150px;
    border: 5px;
    background-color: #f8efc0;
    border-color: #3FA3C1;
    border-radius: 3px;
    box-shadow: 5px 5px 5px  rgba(0,0,0,0.1) inset;
}

.city,
.province {
    width: 100%;
    height: 40px;;
    font-family: "Microsoft JhengHei";
    font-size: 20px;
    line-height:70px;
    color: #777777;
}

.city {
    margin-left: 0%;
}

.subject {
    width: 100%;
    height: 40px;;
    font-family: "Microsoft JhengHei";
    font-size: 20px;
    line-height: 70px;
    color: #777777;
}

/*第一种按钮--半边按钮*/
.button1 {
    line-height: 50%;
    height: 45px;
    width: 46%;
    color: #ffffff;
    background-color: #4f82d6;
    margin-top: 30px;
    font-size: 21px;
    font-weight: normal;
    font-family: Microsoft YaHei;
    border: 0px solid #dcdcdc;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -moz-box-shadow: inset 0px 0px 0px 0px #fff;
    -webkit-box-shadow: inset 0px 0px 0px 0px #fff;
    box-shadow: inset 0px 0px 0px 0px #fff;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.button1:hover {
    background-color: #4a8cf7;
}

/*第二种按钮-填满按钮*/
.button2 {
    line-height: 50%;
    height: 45px;
    width: 100%;
    color: #ffffff;
    background-color: #4f82d6;
    margin-top: 30px;
    font-size: 21px;
    font-weight: normal;
    font-family: Microsoft YaHei;
    border: 0px solid #dcdcdc;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -moz-box-shadow: inset 0px 0px 0px 0px #fff;
    -webkit-box-shadow: inset 0px 0px 0px 0px #fff;
    box-shadow: inset 0px 0px 0px 0px #fff;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.button2:hover {
    background-color: #4a8cf7;
}

.score {
    height: 100%;
    width: 100%;
    border: solid white;
}

.button3 {
    line-height: 60px;
    height: 60px;
    width: 160px;
    color: #ffffff;
    background-color: #4f82d6;
    font-size: 21px;
    font-weight: normal;
    font-family: Microsoft YaHei;
    border: 0px solid #dcdcdc;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -moz-box-shadow: inset 0px 0px 0px 0px #fff;
    -webkit-box-shadow: inset 0px 0px 0px 0px #fff;
    box-shadow: inset 0px 0px 0px 0px #fff;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.button3:hover {
    background-color: #4a8cf7;
}
