#mainContent {
    height: 500px;
    width: 500px;
    padding-top: 5%;
    border-color: #3FA3C1;
    background: rgba(0,0,0,0.1)!important;
    background: #8c8c8c;
    filter: Alpha(opacity=10);
    margin-left: 30%;
    margin-top: 6%;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1) ;
}
.div1 {
    height: 20%;
    width: 60%;
}

.div2 {
    height: 30%;
    width: 40%;
    position: relative;
}
.line {
    height: 65px;
    width: 600px;
    font-size: 16px;
}
.textfield {
    height: 40px;
    width: 300px;
    border: 5px;
    background-color: #f8efc0;
    border-color: #3FA3C1;
    border-radius: 3px;
    box-shadow: 5px 5px 5px  rgba(0,0,0,0.1) inset;
}

.button {
    line-height: 60%;
    height: 60%;
    width:100%;
    color: #ffffff;
    background-color: #4f82d6;
    margin-top: 30px;
    font-size: 25px;
    font-weight: normal;
    font-family: Microsoft YaHei;
    border: 0px solid #dcdcdc;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.button:hover {
    background-color: #4a8cf7;
}

.div3 {
    margin-top: 50px;
}

/*超链接的颜色样式*/
.link {
    color: white;
    outline: 0 none;
}

.split {
    display: inline-block;
    height: 14px;
    margin: 0 10px;
    border-left: 1px transparent solid;
}




