﻿* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 1000px;
    background-color: white;
    color: #222;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
}

a:link,
a:visited {
    color: #384780;
}
a:hover {
    color: #0E419C;
    text-decoration: none;
}
a:active {
    color: #000;
}

.note {
    font-family: "Microsoft JhengHei";
    font-size: 20px;
}

#container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#container #mainContent {
    width: 1300px!important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

#container #mainContent #sidebar .radius {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(141, 143, 139);
    border-radius: 3px;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 180px;
    line-height:75px;
    font-size:21px;
    font-weight: 600;
    text-align: center;
    background-color: #337ab7;

}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    height: 11.5%;
}

#platform-user {
    width: 77%;
    height: 100%;
    margin: 0 auto;
}
#platform-user .top-show {
    width: 10%;
    height: 20px;
    padding-top: 5px;
    float: left;
}

#platform-user .top-show ul li {
    width: 100%;
    height: 100%;
}

#platform-user .top-show ul li a {
    display: block;
    width: 100%;
    height: 10px;
}

#platform-user .top-show ul li a:hover {
    background: #fff;
    color: #0E419C;
}

#logo-header {
    width: 100%;
    height: 100px;
}

#logo-left {
    width: 80%;
    height: 100%;
    float: left;
}
#logo-right {
    width: 20%;
    height: 100%;
    float: left;
}

.main-navigation {
    height: 46px;
    text-align: center;
    background-color: #337ab7;
}

.main-navigation .menu {
    width: 100%;
    height: 46px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-navigation .menu li {
    width: 16%;
    height: 46px;
    list-style: none;
    display: inline-block;
    position: relative;

}

.main-navigation .menu li :hover {
    background-color: #0E419C;
}

.main-navigation .menu-name {
    display: inline-block;
    position: relative;
    height: 46px;
    padding-top: 10%;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-family: "Microsoft JhengHei";
    width: 100%;
    text-align: center;
}

.main-navigation a:hover {
    text-decoration: none;
}

.ms {
    width: 100%;
    height: 10%;
    border-bottom: solid 1px #eeece8;
    background-color: white;
}

.mainContent {
    width: 100%;
    height: 100%;
    margin: 14px;
    padding-bottom: 21px;
    padding-top: 21px;
    border: solid #ccc 1.5px;
    background: whitesmoke;
}

.selected {
    border-bottom: solid 2px transparent;
    border-bottom-color: #EFD700 ;
}

.sidebar {
    width: 21%;
    float: left;
    height: 100%;
    border-right: solid 1.5px #d3d3d3;
}

.content {
    width: 79%;
    height: 100%;
    float: right;
}

.frame {
    height: 33%;
    padding: 14px 7px 0 7px;
    margin-left: 5%;
    margin-right: 10%;
}

.cont2 {
    margin-left: 100px;
    margin-top: 150px;
}

.bdbottom {
    border-bottom: solid 1.5px #d3d3d3;
}

.manageform {
    height: 100%;
}

.sideframe {
    width: 100%;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    font-weight: 200;
    color: #333;
}

/*主体内容的字体*/
.font1 {
    font-family: "Microsoft YaHei";
    font-size: 24px;
    color: #343434;
}

.font2 {
    font-family: "Microsoft YaHei";
    font-size: 27px;
    color: black;
}

.stable1 {
    margin-left: 10%;
    margin-top: 5%;
}

/*内容行间距*/
td {
    padding: 15px;
}

.button {
    line-height: 60%;
    height: 60px;
    width: 120px;
    color: white;
    background-color: #337ab7;
    margin-top: 30px;
    font-size: 15px;
    font-weight: normal;
    font-family: Microsoft YaHei;
    border: 0px solid #dcdcdc;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.button:hover {
    background-color:#0E419C;
}

.password {
    height: 10%;
    border-bottom: solid 1.5px #d3d3d3;
    padding-left: 10% ;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
}

.textfield {
    height: 40px;
    width: 300px;
    border: 5px;
    font-family: "Microsoft YaHei";
    background-color: #f8efc0;
    border-color: #3FA3C1;
    border-radius: 3px;
    box-shadow: 5px 5px 5px  rgba(0,0,0,0.1) inset;
}

.side {
    height: 100px;
    width: 220px;
    padding: 30px 35px;
    background: rgba(0,0,0,0.3)!important;
    background: #323232;
    filter: Alpha(opacity=10);
    border: solid #cccccc 1px;
    border-radius: 5px;
    color: whitesmoke;
    font-family: "Microsoft YaHei";
    font-size: 35px;
}

/*每一行的样式*/
.line {
    height: 65px;
    width: 600px;
    font-size: 16px;
}

.city,
.province {
    width: 48%;
    height: 40px;;
    font-family: "Microsoft JhengHei";
    font-size: 20px;
    line-height:70px;
    color: #777777;
}

.city {
    margin-left: 0%;
}

.Error1,
.Error2,
.Error3,
.Error4,
.Error5 {
    color: red;
    font-family: "Microsoft JhengHei";
    font-size: 1%;
}

font{
    display: none;
}

.divbutton {
    padding: 3% 3%;
}

.email {
  padding: 90px 100px;
}

.extra {
    margin-left: 10%;
    margin-top: 5%;
}

.resetpw {
    padding: 30px 100px;
}

.inline {
    height: 10px;
}

.select {
    height: 30px;
    width: 300px;
    border: 5px;
    text-indent: 6px;
    background-color: #f8efc0;
    border-color: #3FA3C1;
    border-radius: 3px;
    box-shadow: 5px 5px 5px  rgba(0,0,0,0.1) inset;
}

.province,
.subject {
    height: 30px;
    width: 100%;
    border: 5px;
    background-color: #f8efc0;
    border-color: #3FA3C1;
    border-radius: 3px;
    box-shadow: 5px 5px 5px  rgba(0,0,0,0.1) inset;
}

.little {
    font-family: "Microsoft JhengHei";
    font-size: 15px;
}