*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

tr {
    height: 80px;
}

font {
    font-family: "Microsoft JhengHei";
    color: white;
    font-size: 1%;
    padding-top: 3px;
    padding-bottom: 10px;
}

#mainContent {
    height: 600px;
    width: 600px;
    padding-top: 1%;
    border-color: #3FA3C1;
    background: rgba(0,0,0,0.1)!important;
    background: #8c8c8c;
    filter: Alpha(opacity=10);
    margin-top: 3%;
    margin-left: 28%;
    margin-bottom: 2%;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1) ;
}

.div1 {
    height: 15%;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 100%;
    border-color: white;
    border-bottom: 3px;
}

.font {
    font-family: "Microsoft JhengHei";
    font-size: 36px;
    padding-left: 12px;
    color: white;
}

.div2 {
    height: 65%;
    width: 50%;
    position: relative;
}

.note{
    font-family: "Microsoft JhengHei";
    font-size: 15px;
}

input,
select {
    height: 40px;
    width: 300px;
    border: 5px;
    text-indent: 6px;
    background-color: #f8efc0;
    border-color: #3FA3C1;
    border-radius: 3px;
    box-shadow: 5px 5px 5px  rgba(0,0,0,0.1) inset;
}

.form-control {
    padding: 1px 5px;
    font-size: 36px;
    line-height: 1.5;
}

#footer {
    border-top: 12px;
    border-color: white;
    height: 60px;
}

.button {
    line-height: 50%;
    height: 55%;
    width: 46%;
    color: #ffffff;
    background-color: #4f82d6;
    margin-top: 30px;
    font-size: 25px;
    font-weight: normal;
    font-family: Microsoft YaHei;
    border: 0px solid #dcdcdc;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -moz-box-shadow: inset 0px 0px 0px 0px #fff;
    -webkit-box-shadow: inset 0px 0px 0px 0px #fff;
    box-shadow: inset 0px 0px 0px 0px #fff;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.button:hover {
    background-color: #4a8cf7;
}

.link {
    color: white;
    outline: 0 none;
    height: 1%;
}

.split {
    display: inline-block;
    height: 14px;
    margin: 0 10px;
    border-left: 1px transparent solid;
}

.city,
.province {
    width: 48%;
    height: 40px;;
    font-family: "Microsoft JhengHei";
    font-size: 20px;
    line-height:70px;
    color: #777777;
}

.city {
    margin-left: 0%;
}

.Error1,
.Error2,
.Error3,
.Error4,
.Error5 {
    color: red;
    font-family: "Microsoft JhengHei";
    font-size: 1%;
}

a {
    text-decoration: none;
}