input,
select {
    height: 40px;
    width: 300px;
    border: 5px;
    text-indent: 6px;
    background-color: #f8efc0;
    border-color: #3FA3C1;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1) inset;
}
