
tr{
    height: 80px;
}
font{
    font-family: "Microsoft JhengHei";
    color: white;
    font-size: 1%;
    padding-top: 3px;
    padding-bottom: 10px;
}



#mainContent{
    height: 950px;
    width: 600px;
    padding-top: 3%;
    border-color: #3FA3C1;
    background:rgba(0,0,0,0.1)!important;
    background:#8c8c8c;
    filter:Alpha(opacity=10);
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 28%;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1) ;
}
.div1{
    height: 10%;
    width:100%;
    border-color: white;
    border-bottom: 3px ;
}
/*.font{*/
    /*font-family: "Microsoft JhengHei";*/
    /*font-size: 36px;*/
    /*padding-left: 12px;*/
    /*color: white;*/
/*}*/
.div2{
    height: 770px;
    width: 50%;
    /*position: ;*/
}

/*.note{*/
    /*font-family: "Microsoft JhengHei";*/
    /*font-size: 20px;*/
/*}*/
/*input,select{*/
    /*height: 40px;*/
    /*width: 300px;*/
    /*border: 5px;*/
    /*text-indent: 6px;*/
    /*background-color: #f8efc0;*/
    /*border-color: #3FA3C1;*/
    /*border-radius: 3px;*/
    /*box-shadow: 5px 5px 5px  rgba(0,0,0,0.1) inset;*/
/*}*/
.form-control{
    padding: 1px 5px;
    font-size: 36px;
    line-height: 1.5;
}
#footer{
    border-top: 12px;
    border-color: white;
    height:60px;
}


.div3{
    margin-top: 20px;
}
/*.link {*/
    /*color: white;*/
    /*font-size: 20px;*/
    /*font-family: Consolas;*/
/*}*/
/*.split{*/
    /*display: inline-block;*/
    /*height: 14px;*/
    /*margin: 0 10px;*/
    /*border-left: 1px #8c8c8c solid;*/
/*}*/
/*.city,.province{*/
    /*width: 48%;*/
    /*height: 40px;;*/
    /*font-family: "Microsoft JhengHei";*/
    /*font-size: 20px;*/
    /*line-height:70px;*/
    /*color: #777777;*/
/*}*/
/*.city{*/
    /*margin-left: 0%;*/
/*}*/
/*.subject{*/
    /*width: 48%;*/
    /*height: 40px;;*/
    /*font-family: "Microsoft JhengHei";*/
    /*font-size: 20px;*/
    /*line-height:70px;*/
    /*color: #777777;*/
/*}*/

/*.Error1,.Error2,.Error3,.Error4,.Error5{*/
    /*color: red;*/
    /*font-family: "Microsoft JhengHei";*/
    /*font-size: 1%;*/
/*}*/

