<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>院校推荐 ---CEEAnalysis</title>


    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/manage.css" rel="stylesheet">
    <link href="../css/font.css" rel="stylesheet">
    <link href="../css/footer.css" rel="stylesheet">
    <style type="text/css">
.sctitle{
font-size:27px;
}




        .unix1{
            display: inline-block;
            height: 300px;
            width: 400px;
            line-height: 30px;
            padding: 20px 20px;
            background: rgba(0,0,0,0.05)!important;
            background: #aaaaaa;
            filter: Alpha(opacity=10);
            border: solid #cccccc 1px;
            border-radius: 5px;
            color: #555555;
            font-family: "Microsoft YaHei";
            font-weight: 500;
            font-size: 16px;
            margin: 20px 25px 10px 25px;
        }
        .school{
            text-align: center;
            height:700px;
            width:1000px;
            margin-left: auto;
            margin-right: auto;
        }


    </style>
    <script src="../js/jquery-2.2.1.min.js"></script>
    <script src="../js/create.js"></script>
</head>
<body>
    <!--<div class="unix1">-->
        <!--<p>华中科技大学</p>-->
        <!--&lt;!&ndash;<%=session.name %>&ndash;&gt;-->
        <!--<p>学校代码：10486</p>-->
        <!--&lt;!&ndash;<%=session.code %>&ndash;&gt;-->
        <!--<p>属性：985,教育部直属，全国重点大学</p>-->
        <!--&lt;!&ndash;<%=session.attribute %>&ndash;&gt;-->
        <!--<p>简介：共有各类在校生总计56829人（其中本科生31886人、-->
            <!--硕士研究生16625人、博士研究生6741人、留学生1577人），教职工7760人（其中专任教师3737人）</p>-->
        <!--&lt;!&ndash;<%=session.introduction %>&ndash;&gt;-->
    <!--</div>-->

    <!--<div class="unix1">-->
        <!--<p>武汉大学</p>-->
        <!--&lt;!&ndash;<%=session.name %>&ndash;&gt;-->
        <!--<p>学校代码：10486</p>-->
        <!--&lt;!&ndash;<%=session.code %>&ndash;&gt;-->
        <!--<p>属性：985,教育部直属，全国重点大学</p>-->
        <!--&lt;!&ndash;<%=session.attribute %>&ndash;&gt;-->
        <!--<p>简介：共有本科生31886人、硕士研究生16625人、博士研究生6741人、留学生1577人，教职工7760人</p>-->
        <!--&lt;!&ndash;<%=session.introduction %>&ndash;&gt;-->
    <!--</div>-->
    <div id="stable" class="school">

    <div class="unix1">
        <p class="sctitle">北京大学</p>
        <p>位置：北京市</p>
        <p>属性：C9，985,211</p>
        <p>简介：北京大学创办于1898年，初名京师大学堂，是中国第一所国立综合性大学，也是当时中国最高教育行政机关。辛亥革命后，于1912年改为现名。
</p>
    </div>

    <div class="unix1">
        <p class="sctitle">清华大学</p>
        <!--<%=session.name %>-->
        <p>位置：北京市</p>
        <!--<%=session.code %>-->
        <p>属性：C9，985,211</p>
        <!--<%=session.attribute %>-->
        <p>简介：中国著名高等学府，坐落于北京西北郊风景秀丽的清华园，是中国高层次人才培养和科学技术研究的重要基地。</p>
        <!--<%=session.introduction %>-->
    </div>
    <div class="unix1">
        <p class="sctitle">中国人民大学</p>
        <!--<%=session.name %>-->
        <p>位置：北京市</p>
        <!--<%=session.code %>-->
        <p>属性：985,211 </p>
        <!--<%=session.attribute %>-->
        <p>简介：一所以人文社会科学为主的综合性研究型全国重点大学，直属于教育部，由教育部与北京市共建。学校的前身是1937年诞生于抗日战争烽火中的陕北公学，以及后来的华北联合大学和华北大学。</p>
        <!--<%=session.introduction %>-->
    </div>
    <div class="unix1">
        <p class="sctitle">北京师范大学</p>
        <!--<%=session.name %>-->
        <p>位置：北京市</p>
        <!--<%=session.code %>-->
        <p>属性：985,211 </p>
        <!--<%=session.attribute %>-->
        <p>简介：前身是1902年创立的京师大学堂师范馆；1908年，改称京师优级师范学堂，独立设校。是一所以教师教育、教育科学和文理基础学科为主要特色的综合性全国重点大学。
</p>
        <!--<%=session.introduction %>-->
    </div>
</div>



</body>
</html>